
.fond{
    height: 100%;
    width: 100%;
    margin: 30px 0 42px;
    padding: 222px 15px 78px 16px;
    -webkit-filter: blur(3px);
    filter: blur(3px);
    background-image: url("../../img/smithproduit.png");

}


.blur h1{

    text-align: center;
    z-index: 500;
}

img {
    max-width: 100%;
    height: auto;
}


header {
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #000000;
    padding: 15px;


}

.logo img{
    max-width: 8%;
}
footer img{
max-width: 8%;

}



footer{

    border-bottom-style: dashed;
    border-bottom-color: black;

}

.Trac-3 {
    width: 0;
    height: 442.4px;
    margin: 43.5px 0 110.9px ;
    border: solid 4px #cfb6ed;
}
.Trac-5 {
   width: auto;
    height: auto;
    padding: 11.7px 35px 34.8px 42px;
    background-image: linear-gradient(to bottom, #8c3ce8, rgba(190, 165, 218, 0.94) 58%, rgba(192, 170, 217, 0.56));
    border-radius: 40px;
}

.trailer {
    width: 375px;
    height: 211px;
    margin: 0.2px 0 0;
}
.bus {
    width: 120%;
    height:120% ;
    margin: 0.2px 0 0;
    border: solid 1px #707070;

}


.arbre{
    width: 375px;
    height: 194px;
    margin: 0.2px 0 0;
    border: solid 1px #707070;
}


.couleurfooter {
    width:375px ;
    height: 330px;
    padding:0;
    background-color: #cfb6ed;
    border-bottom-width: 0;
    margin-bottom: 0 ;
    border-radius: 20px 20px;
}
.lignefooter{
    width: 315px;
    height: 0;
    margin-top: 50px;
    margin-bottom: 20px;
    border: solid 2px #8c3ce8;

}
.ligne1 {
    width: 0;
    height: 260px;
    position: absolute;
    border: solid 2px #cfb6ed;
   left: 15px;
}

.ligne2 {
    width: 0;
    height: 240px;
    position: absolute;
    border: solid 2px #cfb6ed;
    right: 15px;
}
.numero {
    width: 32px;
    height: 15px;
    margin: 151px 18px 223px 13px;
    background-color: #8c3ce8;
    position: absolute;
}
.titre {
    width: 320px;
    height: 220px;
    margin: 30px 70px 34px 13.5px;
    border-radius: 56px;
    background-color: #cfb6ed;
}
.titre2 {
    width: 380px;
    height: 140px;
    border-radius: 56px;
    background-color: #cfb6ed;

}

.boutonvoir1 {
    width: 100px;
    height: 2px;
    padding: 10px 10px 10px 10px;
    background-color: #723992 ;
    margin-left: 80px;
    border-radius: 30px;
}


.boutonvoir2 {
    width: 100px;
    height: 2px;
    padding: 10px 10px 10px 10px;
    background-color: #723992 ;
    margin-left: 80px;
    border-radius: 30px;
}
.boutonvoir3 {
    width: 100px;
    height: 2px;
    padding: 10px 10px 10px 10px;
    background-color: #723992 ;
    margin-left: 80px;
    border-radius: 30px;
}

.insta{
    margin-left: 10px;
}
.gmail{
margin-left: 10px;

}
.twitter{
margin-left: 100px;
}

.fb{
    margin-left: 10px;
}
