
.blur{
    height: 100%;

    background-size: cover;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);

}

img {
    max-width: 100%;
    height: auto;
}

header {
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #000000;
    padding: 15px;
}

footer{


    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: black;
    padding: 15px;

}
.contact a[href^="mailto:"]{
    background-image: url("");
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    display: block;


}

.contact a[href^="https://www.facebook.com"]{
    background-image: url("");
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    display: block;


}