
.blur{
    height: 100%;

    background-size: cover;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);

}

.blur h1{

    text-align: center;
    z-index: 500;
}

img {
    max-width: 100%;
    height: auto;
}


header {
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #000000;
    padding: 15px;


}

.logo img{
    max-width: 8%;
}



footer{



    border-bottom-style: dashed;
    border-bottom-color: black;



}

.Trac-3 {
    width: 0;
    height: 442.4px;
    margin: 43.5px 0 110.9px;
    border: solid 4px #cfb6ed;
}
.Trac-5 {
   width: auto;
    height: auto;
    padding: 11.7px 35px 34.8px 52px;
    background-image: linear-gradient(to bottom, #8c3ce8, rgba(190, 165, 218, 0.94) 58%, rgba(192, 170, 217, 0.56));
}
.Trac-5 {
    width: auto;
    height: auto;
    background-image: linear-gradient(to bottom, #8c3ce8, rgba(190, 165, 218, 0.94) 58%, rgba(192, 170, 217, 0.56));
}
.trailer {
    width: 375px;
    height: 211px;
    margin: 0.2px 0 0;
}
.bus {
    width: 375px;
    height: 188px;
    margin: 0.2px 0 0;
    border: solid 1px #707070;
}


.arbre{
    width: 375px;
    height: 194px;
    margin: 0.2px 0 0;
    border: solid 1px #707070;
}


.couleurfooter {
    width:375px ;
    height: 300px;
    padding:0;
    background-color: #cfb6ed;
    border-bottom-width: 0;
    margin-bottom: 0 ;
}
.lignefooter{
    width: 315px;
    height: 0;
    margin-top: 50px;
    margin-bottom: 20px;
    border: solid 2px #8c3ce8;

}