@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


html {
    font-size: 62.5%;
}

body {
    background-color: aliceblue  ;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    line-height: 1.6;
    margin: 0 20px;
}
header h2{
    margin-top: 0;
    margin-left: 0;
    color: #8C3CE8;
}

a {
    text-decoration: none;
    color: black;
}
main{
    font-weight: normal;

}

.caroussel{
    background-color: #CFB6ED;
    color: black;
    padding:20px ;
}
.caroussel2{
    background-color: #555555;
    color: black;
    padding:20px ;
}
.caroussel2 img{
max-width: 200px;
}
ul.caroussel-items{
    list-style: none;
    padding: 1rem 0;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
li.caroussel-items{
    flex: 1 0 220px;
    margin-right: 2rem;
    scroll-snap-align: center;

}

::-webkit-scrollbar-track{
    background-color: #555555;

}
::-webkit-scrollbar{
    height: 2px;
    background-color: tomato;
}
::-webkit-scrollbar-thumb{
    background-color: tomato;
}

.menu{
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4{
    font-family: 'Roboto', sans-serif   ;
}
h1{
    padding:20px;
}

.couleurfooter span{
    color: #723992;
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 0;
    font-weight: bold;
}
.couleurfooter p{
    margin-left: 10px;

}

main>h2{
    margin-left: 10px;
    position: center;
}

main p{
    margin-left: 40px;
    margin-right: 40px;
    display: block;

}
.Trac-5 h3{
    text-transform: uppercase;
    position: center;
    margin-bottom: 0;
    color: black;

}
.Trac-5 h4{
   font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    margin-top: 0;


}
.boutonvoir1 a,
.boutonvoir2 a,
.boutonvoir3 a{
    left: 44vw;
    color: white;
    position: absolute;
    text-transform: uppercase;
}

.boutonvoir1 a {
    bottom: 61vw;
}

.boutonvoir2 a {
    bottom: -87vw;
}

.boutonvoir3 a{
    bottom: -212.5vw;
}

.contact h3, .rubriques h3{
    margin-left: 10px;
}
.rubriques p{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 100px;
}
.couleurfooter p, .couleurfooter span{
    margin-bottom: 0;
    font-size: 1.4rem;



}
.accueil{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 100px;


}
 .accueil img{

 }